<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Transpo</title>
    
    <!--Bootstrap css included manually-->
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="public/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="public/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="public/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="public/css/responsive.css">

    <!--main site css-->
    <link rel="stylesheet" type="text/css" href="public/css/site.css">
    
    <!--for IE 9-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--for IE 9-->

    <meta name="keywords" content="Transpo ticket booking website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>