<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo">
                        <a href="">
                            <div>Transpo</div>
                        </a>
                    </div>
                    <nav class="main_nav">
                        <ul class="d-flex flex-row align-items-center justify-content-start">
                            <li class="active"><a href="/index">Home</a></li>
                            <li><a href="#download">Download App</a></li>		
                            <li><a href="/booking">Book Ticket</a></li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </nav>
                    <div class="header_extra d-flex flex-row align-items-center justify-content-start ml-auto">
                        <div class="phone d-flex flex-row align-items-center justify-content-start"><i class="fa fa-phone" aria-hidden="true"></i><span>652-345 3222 11</span></div>
                        <div class="book_button trans_200"><a href="/login">Book Now</a></div>
                    </div>
                    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</header>