<!DOCTYPE html>
<html lang="en">
    <% include partials/head.ejs %>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif" >
        <div id="mainpage">
            <% include layouts/header.ejs %>

            <div class="container-fluid" style="margin: 40px;line-height: 2.0;letter-spacing: 1.0;"> 
                <div class="jumbotron">
                    <h2 class="text-center">About Us</h2>
                </div>
                
                <p>
                    At Pentlabs/Penlabs we are much concerned about our environment. 
                    We believe we can generate IT based solutions for most of the challenges people face in their day to day activities such as transportation, access to water
                    and gas and other essential livelihood. Hence we came up with the idea of a transportation application, TransPo® , which is just one of our exciting
                    and easy to use software applications. At PentLabs we call these type of software packages Essentials.
                </p>

                <p>
                    Essentials are basic apps that are less complex and should be easy to teach and easy to use for anyone irrespective of the persons literacy background.
                </p>    
                    
                <p>
                    TransPo thus enables people of different classes to be able to
                    use its transport service effectively for purpose of bringing families together
                    and also facilitating businesses. 
                </p>

                <p>
                    There is no need for hustle and long queues at bus terminals and fights over seats.
                    It is fast, efficient and only requires mobile money or credit card to make payments. 
                    All your tickets are saved on your device and on our server, thus it can be retrieved anytime and anywhere. 
                    Booking ticket for friends and family has become simple and only requires you to screenshot and share.
                </p>
                <p>
                    <i>PentLabs Basic Solutions At Work.</i>
                </p>
            </div>

            <div style="margin-top: 25px;background-color: rgb(221, 205, 241);padding: 30px;">
                <h2 class="text-center"> Subscribe to our newsletter</h2>
                    <div class="text-center" style="width: 50%;margin: auto;">
                      <form action="#" method="post">
                            <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <span class="input-group-btn">
                                         <button class="btn" type="button" style="background-color: royalblue;color: white;">Subscribe</button>
                                    </span>
                                 </div>
                        </form>
                    </div>
            </div>
            <% include layouts/footer.ejs %>    
        </div>
    </body>
</html>
<!DOCTYPE html>
<html lang="en">
    <% include partials/head.ejs %>

    <body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif" >
        <div id="mainpage">
            <% include layouts/header.ejs %>

            <div class="container-fluid" style="margin: 40px;line-height: 2.0;letter-spacing: 1.0;"> 
                <div class="jumbotron">
                    <h2 class="text-center">About Us</h2>
                </div>
                
                <p>
                    At Pentlabs/Penlabs we are much concerned about our environment. 
                    We believe we can generate IT based solutions for most of the challenges people face in their day to day activities such as transportation, access to water
                    and gas and other essential livelihood. Hence we came up with the idea of a transportation application, TransPo® , which is just one of our exciting
                    and easy to use software applications. At PentLabs we call these type of software packages Essentials.
                </p>

                <p>
                    Essentials are basic apps that are less complex and should be easy to teach and easy to use for anyone irrespective of the persons literacy background.
                </p>    
                    
                <p>
                    TransPo thus enables people of different classes to be able to
                    use its transport service effectively for purpose of bringing families together
                    and also facilitating businesses. 
                </p>

                <p>
                    There is no need for hustle and long queues at bus terminals and fights over seats.
                    It is fast, efficient and only requires mobile money or credit card to make payments. 
                    All your tickets are saved on your device and on our server, thus it can be retrieved anytime and anywhere. 
                    Booking ticket for friends and family has become simple and only requires you to screenshot and share.
                </p>
                <p>
                    <i>PentLabs Basic Solutions At Work.</i>
                </p>
            </div>

            <div style="margin-top: 25px;background-color: rgb(221, 205, 241);padding: 30px;">
                <h2 class="text-center"> Subscribe to our newsletter</h2>
                    <div class="text-center" style="width: 50%;margin: auto;">
                      <form action="#" method="post">
                            <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                    <span class="input-group-btn">
                                         <button class="btn" type="button" style="background-color: royalblue;color: white;">Subscribe</button>
                                    </span>
                                 </div>
                        </form>
                    </div>
            </div>
            <% include layouts/footer.ejs %>    
        </div>
    </body>
</html>
